if ($user->getUsername()) {
            // The user has already been saved : update it
            $this->getDb()->update('t_user', $userData, array('usr_name' => $user->getUsername()));

    <div class="form-group">
        {{ form_label(userForm.mail.first, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_widget(userForm.mail.first, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.mail.second, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-4">
            {{ form_widget(userForm.mail.second, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(userForm.news, null, { 'label_attr':  {
            'class': 'col-sm-5 control-label'
        }}) }}
        <div class="col-sm-1">
            {{ form_widget(userForm.news, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>


    ->add('news', CheckboxType::class, array(
                'label' => 'S\'abonner à la newsletter ?',
                'required' => false,
            ))
            ->add('mail', RepeatedType::class, array(
                'type'            => EmailType::class,
                 'invalid_message' => 'Les adresses E-Mail doivent etre identiques.',
                 'options'         => array('required' => true),
                 'first_options'   => array('label' => 'Adresse E-Mail'),
                 'second_options'  => array('label' => 'Confirmation adresse E-Mail'),
             ))



<h6><span class="glyphicon glyphicon-pencil"></span><strong> Auteur : </strong>{{ article.author }}</h6>  


    {% autoescape %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({
    selector: 'textarea',
    height: 500,
    theme: 'modern',
    plugins: [
      'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen',
      'insertdatetime media nonbreaking save table contextmenu directionality',
      'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc help',
      'bbcode'
    ],
    bbcode_dialect: "punbb",
    toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
    toolbar2: 'print preview media | forecolor backcolor emoticons | codesample help',
    image_advtab: true,
    templates: [
      { title: 'Test template 1', content: 'Test 1' },
      { title: 'Test template 2', content: 'Test 2' }
    ],
    content_css: [
      '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
      '//www.tinymce.com/css/codepen.min.css'
    ]
  });</script>
  {% endautoescape %}