{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block header %}
{% autoescape 'html' %}
<div class="header">
    
</div>
{% endautoescape %}
{% endblock %}

{% block content %}

<div class="row">
    <p class="title"><strong>Billet simple pour l'Alaska </strong><span class="glyphicon glyphicon-globe"></span></p>
</div>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row">
    <h1>Derniers chapitres parus :</h1>
    <div class="col-md-offset-1 col-md-7">
    {% for lastArticle in lastArticles %}
        <article>
            <div class="well">
                <div class="articleTitleCenter">
                    <p><span class="glyphicon glyphicon-tags"></span><strong><a class="articleTitle" href="{{ path('article', { 'id': lastArticle.id }) }}"> {{ lastArticle.title }}</a></strong></p>             
                </div>
                <p>{{ lastArticle.content|striptags|truncate(50) }}</p>  
            </div>
        </article>
    {% endfor %}
    </div>
    
    <div class="col-md-offset-1 col-md-3 col-sm-4">
        <div class="well">
            <div class="center">
                <h3><strong>Jean Forteroche</strong></h3>
                <p></br></p>
                <img src='http://md1.libe.com/photo/981925-portraits.jpg?modified_at=1484070265' width='80%' height="200px"/>
                <p style="font-size: 16px">
                    </br>
                    Je vous souhaite la bienvenue sur mon site. </br>
                    Je suis acteur et écrivain, auteur du livre "Sur la route de Madagascar". Je travaille actuellement sur mon prochain roman intitulé "Billet simple pour l'Alaska". </br>
                    Je souhaite publier mon livre par chapitre en ligne sur ce site. 
                </p>
                <a href="https://www.facebook.com" target="_blank"><img src="{{ asset('/images/facebook.png') }}" alt="Facebook" width="32px" height="32px"/></a>
                <a href="https://www.twitter.com" target="_blank"><img src="{{ asset('/images/twitter.png') }}" width="32px" height="32px" alt="Twitter"/></a>
                <a href="https://www.plus.google.com" target="_blank"><img src="{{ asset('/images/google-plus.png') }}" width="32px" height="32px" alt="Google Plus"/></a>
                <a href="https://www.linkedin.com" target="_blank"><img src="{{ asset('/images/linkedin.png') }}" width="32px" height="32px" alt="Linkedin"/></a>
            </div>
        </div>    
    </div>
</div>
{% endblock %}
