<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('/lib/bootstrap/css/microcms.css') }}" rel="stylesheet">
    <link href="{{ asset('/lib/bootstrap/css/menu.css') }}" rel="stylesheet">
    <title>Blog de Jean Forteroche - {% block title %}{% endblock %}</title>
</head>
<body background="{{ asset('/images/background.jpg') }}">
    <div>{% block header %}{% endblock %}</div>
    <div class="container" style="padding-top:30px;">
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}">Billet simple pour l'Alaska.</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-target">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="{{ path('list') }}" data-toggle="modal">
                            <span class="glyphicon glyphicon-book"></span> Liste des billets</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> Administration <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('admin') }}">Panel Admin</a></li>                                
                                <li><a href="{{ path('admin_article_add') }}">Ajouter un billet</a></li>
                            </ul>
                            </li>
                        {% endif %}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}">Deconnexion</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Non connecté <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('login') }}">Connexion</a></li>
                                    <li><a href="{{ path('account') }}">Créer un compte</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div><!-- /.container -->
        </nav>

        <div class="row">
        <div id="content">{% block content %}{% endblock %}</div></div>
        <div class="row">
        <footer class="footer">
            <strong>Blog de Jean Forteroche, developpé avec PHP.</strong>
        </footer>
    </div>
    </div>
    
    <!-- jQuery -->
    <script src="{{ asset('/lib/jquery/jquery.min.js') }}"></script>
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ asset('/lib/bootstrap/js/bootstrap.min.js') }}"></script>   
</body>
</html>
